/* Banner */
.layout-banner {
  width: 100%;
  height: 90vh;
  margin-top: -80px;
}

.layout-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
  filter: brightness(20%);
}
.layout-banner-content {
  max-width: 1140px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  text-align: center;
  color: #eee;
}
.layout-banner-content h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 80px;
  color: #86c232;
}

.layout-banner-content p {
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .layout-banner-content {
    width: 50%;
  }
}

/* Layout Section 1 */
.layout-section1 {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.layout-section1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px 30px 50px;
  text-align: center;
}
.layout-section1-heading {
  text-align: center;
  padding-top: 50px;
}

.layout-section1-left p {
  font-size: 14px;
  max-width: 500px;
  text-align: left;
}
.layout-section1-left p span {
  color: #86c232;
  font-weight: bold;
}
.layout-section1-right {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.layout-section1-right img {
  max-width: 370px;
  max-height: 400px;
}
.vertical-line {
  height: 37px;
  border-right: 1px solid white;
  margin: 20px 0px;
}
.layout-section1-right h1 {
  padding-bottom: 10px;
  max-width: 370px;
  max-height: 400px;
}
.layout-section1-right p {
  font-size: 13px;
  padding-bottom: 30px;
  max-width: 285px;
  max-height: 400px;
  text-align: center;
}
@media screen and (min-width: 991px) {
  .layout-section1 {
    display: flex;
  }

  .layout-section1-left {
    width: 50%;
  }
  .layout-section1-heading {
    font-size: 80px;
    padding-top: 50px;
  }
  .layout-section1-left p {
    max-width: 800px;
    padding-top: 20px;
    font-size: 18px;
  }
  .layout-section1-right {
    width: 50%;
    height: 900px;
    overflow-y: auto;
    padding-top: 500px;
  }
  .layout-section1-right img {
    max-width: 450px;
  }
  .vertical-line {
    border-right: 1px solid pink;
  }
  .layout-section1-right h1 {
    max-width: 450px;
  }
  .layout-section1-right p {
    max-width: 350px;
  }
}

/* layout section 2 */
.layout-section2 {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 54, 49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: white;
}
.layout-section2 .heading {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.layout-section2 .content {
  text-align: center;
}
.layout-section2 .content h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: -5px;
}
.layout-section2 .content p {
  padding-bottom: 20px;
  font-weight: 100;
}

@media screen and (min-width: 991px) {
  .layout-section2 {
    padding: 100px 0px;
  }
  .layout-section2 .heading {
    padding-bottom: 30px;
  }
  .layout-section2 .content {
    display: flex;
    width: 80%;
  }
  .layout-section2 .content .sub-content {
    width: 33%;
  }
}

/* layout section 3*/
.layout-section3-heading {
  font-weight: 800;

  text-align: center;
  margin-top: 70px;
}
.layout-section3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 20px;
}

.layout-section3 ul {
  line-height: 27px;
}
.layout-section3 li {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(238, 231, 224);
  margin-bottom: 15px;
}

@media screen and (min-width: 750px) {
  .layout-section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    gap: 20px;
  }
  .layout-section3-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .layout-section3-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .layout-section3 ul {
    line-height: 30px;
    max-width: 400px;
  }
  .layout-section3 li {
    width: 100%;
    height: 110px;
    padding-bottom: 130px;
    border-bottom: 1px solid rgba(238, 231, 224);
    margin-bottom: 15px;
  }
}
