.banner {
  width: 100%;
  height: 100vh;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
  filter: brightness(20%);
}

.banner-text {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  margin: auto;
}

.banner-content {
  position: absolute;
  top: 40%;
  height: auto;
  text-align: center;
  color: #eee;
}

@media screen and (min-width: 768px) {
  .banner-content {
    width: 50%;
  }
}

.banner-content h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 80px;
  color: #86c232;
}

.banner-content p {
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 18px;
}

.banner-content button {
  padding: 10px 40px;
  border-radius: 2rem;
  outline: none;
  border: none;
  font-weight: 400;
  background-color: #86c232;
  color: white;
  border: 1px solid #86c232;
}

.banner-content button:hover {
  background-color: transparent;
  border: 1px solid #86c232;
  color: #86c232;
}
