.section2 {
  width: 100%;
  height: 100%;
  background-color: #222629;
}
.section2-heading {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  padding-top: 20px;
}

.section2-card {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
@media screen and (min-width: 991px) {
  .section2-heading {
    font-size: 35px;
  }

  .section2-card {
    justify-content: center;
  }
}
