.section4 {
  width: 100%;
  height: 100%;
  background-color: #222629;
  padding-top: 30px;
}

.section4-heading {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.section4-card {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 0 5px;
}
@media screen and (min-width: 991px) {
  .section4-heading {
    font-size: 35px;
  }

  .section4-card {
    justify-content: center;
    align-items: center;
  }
}
