.blog-layout-wrapper {
  height: 100%;
  width: 100%;
  padding: 25px;
  text-align: center;
}
.blog-layout-heading {
  padding: 30px 20px 50px 20px;
}
.blog-layout-heading h1 {
  font-size: 28px;
}
.blog-layout-img img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 50px;
}
.blog-layout-content {
  text-align: justify;
}
.blog-layout-content h6 {
  padding-bottom: 20px;
}
.blog-layout-content ul {
  margin-left: -12px;
}
@media screen and (min-width: 850px) {
  .blog-layout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-layout-content {
    max-width: 600px;
  }
  .blog-layout-heading {
    max-width: 700px;
  }
  .blog-layout-heading h1 {
    font-size: 35px;
  }
}
